@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sora:wght@100..800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Hind+Mysuru:wght@300;400;500;600;700&family=Sora:wght@100..800&family=VT323&display=swap');
@import "tailwindcss";

hr{
    @apply py-2;
}

h2{
    @apply text-3xl pb-2
    font-hind;
}

a{
    @apply text-blue-500 hover:text-blue-700 visited:text-purple-500 visited:hover:text-purple-700 ease-in-out transition-all hover:-translate-y-1;
}

td{
    @apply px-7 py-2;
}

@theme {
    --font-title: "Caveat",sans-serif;
    --font-sora: "Sora",sans-serif;
    --font-hind: "Hind Mysuru",sans-serif;
}
